body {
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.container {
    width: 95%;
    margin-top: 100px;;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.profile-card {
    background: gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 300px;
    height:300px;
}

.profile-card img {
    margin-top: 35px;
    border-radius: 50%;
    margin-bottom: 10px;
    height: 180px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: black;
    color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: gray;
    text-align: left;
}
button{
    width: 105px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
    font-size: medium;
    color:white;
    background-color:gray;;
}
button:hover{
    background-color: black;
}
